<div id="Create">
    <div id="single-create">
    <div class="row p-t-50">
        <div class="col-md-7 col-md-offset-3 about-page" id="">
            <div class="col-md-2 create-icon">
                <img src="/images/magician.svg" alt="create animated video in minutes
" />
            </div>
            <div class="col-md-10">
                <h1 class="h1-responsive text-md-center">Create</h1>
                <p>Creating Audio/Visual animation is expensive and time consuming. Hola Enterprise allows you to create Hola Cards by uploading images any of the pre existing templates and quickly customise your audio, call to action or others options.</p>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <img src="/images/create-about.png" alt="create videos easily online on Hola Enterprise" />
        </div>
    </div>
   </div> 
</div>
<div id="Reach" class="bg-white">
    <div class="row p-t-50 ">
     <div class="col-md-6">
            <div class="">
                <img src="/images/Reach.png" alt="Reach">
            </div>
        </div>
        <div class="col-md-6  about-page reach-about">
            <div class="col-md-2  create-icon">
                <img src="/images/collaboration.svg" alt="online video creation portal" />
            </div>
            <div class="col-md-10">
                <h1 class="h1-responsive text-md-center">Reach</h1>
                <p>Hola cards can be distributed on various channels like Sms, E-mail, Facebook, Youtube, Twitter, Whatsapp, etc. Hola Enterprise can be used to distribute over various channels.
                </P>
                <ul>
                    <li>Email and SMS can be used to push Hola Cards, right onto your target groups' smart phones</li>
                    <li>If you already have presence on the web or Social media, posting regular content about your offering and keeping your audience engaged is a critical part of pull marketing.</li>
                </ul>
            </div>
        </div>       
    </div>
</div>
<div id="Engage" class="p-t-30 p-b-30 bg-white" >
<div class="row">   
    <div class="col-md-6 about-page engage-about  ">
        <div class="col-md-3 create-icon">
            <img src="/images/handshake.svg" alt="interact with hola card using call to action buttons" />
        </div>
        <div class="col-md-9">
            <h1 class="h1-responsive text-md-center">Engage</h1>
            <p>We bridge gaps between marketing and sales by making it easier for your target audience to reach your sales contact, location or any of your social media presence, right from your marketing communication. Customizable Call-to-action buttons allows you to choose only those CTAs that matter to you.
            </P>
        </div>
    </div>
     <div class="col-md-6">
        <div class="app-img">
            <img src="/images/Engage.png" alt="hola card for sms facebook and email marketing">
        </div>
    </div>
  </div>
</div>
<div id="Analyse" class="m-b-30">
<div  class="bg-white">
    <div class="row  p-t-50">
        <div class="col-md-7 col-md-offset-3 about-page" id="">
            <div class="col-md-2 create-icon ">
                <img src="/images/analytics.svg" alt=" analytics that help you track and understand user behavior" />
            </div>
            <div class="col-md-10">
                <h1 class="h1-responsive text-md-center">Analyse</h1>
                <p>Benefit from our analytics platform to get better ROI on marketing spends and understand response to your campaign and fine tune your marketing efforts.</p>
                <ul>
                    <li>Market your hola card via Sms, E-mail, Whatsapp.</li>
                    <li> Publish your Hola Card on Facebook, Twitter, Youtube, or any other social media platform.</li>
                    <li>Get analytics of all the platforms in one place.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img src="/images/analyse-about.png" alt="Generate detailed analytics to segment user and increase ROI" />
    </div>
    </div>
</div>
</div>