<div id="TEST021">
  <section class="testimonial red-bg padding-top-100 padding-bottom-100">
  <div class="container">
    <!-- Tittle -->
    <div class="heading-block white-text text-center margin-bottom-80">
      <h2>Our clients</h2>
     </div>
    <!-- Testi Slider -->
    <div class="testi-slides-flex">
      <ul class="slides">
        <!-- Slide 1 -->
        <li>
        <div class="row">
         <div class="col-md-3 client-img"><img src="/images/clients/logo20.png" alt="Marketing for Vodafone" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo1.jpg" alt="Dr Reddy marketing" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo2.jpg" alt="Icici bank_hola enterprise clientele" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo3.jpg" alt="Hola Enterprise client list" ></div>
         

        </div>
         
        </li>
        <!-- Slide 2 -->
        <li>
        <div class="row">
         <div class="col-md-3 client-img"><img src="/images/clients/logo4.jpg" alt="Hola Ebterprise clientele" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo5.jpg" alt="Paregrine semiconductors animated video" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo6.jpg" alt="Noble global education promotion
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo7.jpg" alt="Hola Enterprise's client - Sbricks
" ></div>
         

        </div>
         
        </li>
         <li>
        <div class="row">
         <div class="col-md-3 client-img"><img src="/images/clients/logo8.jpg" alt="Pearl city chapter event promotion
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo9.jpg" alt="promotional video for Esparanza 
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo10.png" alt="Hola enterprise's client in gulf - Saar mall
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo11.png" alt="Interactive marketing for Sky blue Aero 
" ></div>
          

        </div>
         
        </li>
         <li>
        <div class="row">
        <div class="col-md-3 client-img"><img src="/images/clients/logo12.png" alt="Animation video creator
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo13.png" alt="marketing automation for cine royal in Bahrain
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo14.png" alt="F&B marketing in Gulf
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo15.png" alt="interactive video creation portal
" ></div>
        

        </div>
         
        </li>
         <li>
        <div class="row">
          <div class="col-md-3 client-img"><img src="/images/clients/logo16.png" alt="Hola card marketing for education sector
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo17.png" alt="Hola enterprise clients
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo18.jpg" alt="Lead Engine
" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo19.jpg" alt="Thought folks digital
" ></div>

        </div>
         
        </li>
      </ul>
    </div>
    <ul class="flex-direction-nav" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 999; opacity: 1;">
    <li >
        <a style="color:black;" class="flex-prev" href="#">Previous</a>
    </li>
    <li>
        <a class="flex-next" href="#">Next</a>
    </li>
</ul>
  </div>
</section>
</div>

