<section class="promo-area" id="home">
<div class="container">
        <div class="promo-content-wrap">
            <div class="single-promo-wrap " data-stellar-background-ratio="0.5">
                <div class="promo-table">
                    <div class="promo-tableCell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 col-sm-12">
                                    <div class="hola-first text-center">
                                        <!-- <h2 class="wow fadeInLeft">The Best Way To Present Your Mobile App</h2> -->
                                        <h1 class="wow fadeInLeft create-interactive-a" data-wow-delay="1s"><b>Create Interactive micro-ads Generate more leads !</b></h1>
                                        <p class="wow fadeInLeft use-our-light-weight" data-wow-delay="2s">Communicate your offerings using light weight, interactive animations. </br>Distributable over multiple channels – SMS, email, whatsapp & social media</p>
<div class="hola-btns">
                                        <a href="https://hihola.co/signup" target="_blank" class="holabtn wow fadeInUp text-center mt-3" data-wow-delay="1s">Sign up for free</a>
                                        <a href="" class="hola2btn text-center wow fadeInUp mt-3 btnml-2" data-toggle="modal" data-target="#holavideo"> Watch explainer video</a>
                                  </div>
                                  </div>
                                </div>


                                
                           </div>
                           <!-- Modal -->
                                <div class="modal modal-wide fade" id="holavideo" role="dialog">
                                  <div class="modal-dialog modal-lg">
                                  
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                     
                                      <div class="modal-body">
                                      <button type="button" class="close btn-lg fancybox-close" data-dismiss="modal">&times;</button>
                                      <div class="embed-responsive embed-responsive-16by9">
                                     <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/R80vJjJFDLY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                      </div>
                                      </div>
                                      
                                    </div>
                                                                  
                                  </div>
                                </div>
                                 <!-- Modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>