<footer class="footer-area" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <h6>Product</h6>
                <ul>
                    <li><a href="https://hihola.co/signup">Request Trial</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/customer-stories" target="_blank">Customer Stories</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>Company</h6>
                <ul>
                    <li><a href="/terms">T&C (terms and conditions) </a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="" data-toggle="modal" data-target="#contact">Contact</a></li>
                    <li><a href="/partners" >Partners</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>Resources</h6>
                <ul>
                    <li><a href="/">User Guide</a></li>
                    <li><a href="/casestudies">Case Studies</a></li>
                    <li><a href="/APIReference.pdf" target="_blank">Docs</a></li>
                </ul>
            </div>
            <div class="col-md-5">
                <h6>Get in touch</h6>
                <div class="row">
                    <form id="fooe" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="email" id="email" name="email" class="form-control form-email" required placeholder="Email">
                        </div>
                        <button type='submit' name="button" id ="mail-link" value = "click" class="btn explore-btn btn-signup subscribe">Sign Up</button>
                    </form>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/Holaenterprise" target="_blank"><img src="/images/facebook-app-logo.svg" alt="connect on facebook
" /></a></li>
                        <li><a href="https://twitter.com/Hola_Card" target="_blank"><img src="/images/twitter-logo.svg" alt="connect on twitter
" /></a></li>
                        <li><a href=" https://www.linkedin.com/in/hola-enterprise-5a4b49105/" target="_blank"><img src="/images/blog-linkedin.svg" alt="connect on linked in
" /></a></li> 
                        <li><a href="https://www.youtube.com/channel/UCeqlDUMDjigytCp-l1mHIPQ" target="_blank"><img src="/images/youtube.svg" alt="connect on youtube
" /></a></li>
 <li><b><img src="/images/call.svg" alt="connect on twitter
" /> 040 - 7416444463</b></li>
                    </ul>
                </div>
            </div>
            <div class="row privacy text-center">
                <div class="col-md-12">
                    <p>© 2018 HolaCards | A unit of Abda Digital Pvt. Ltd.</p>
                </div>
                
            </div>
        </div>
    </div>
</footer>