<div id="TEST021">
  <section class="testimonial red-bg padding-top-100 padding-bottom-100">
  <div class="container">
    <!-- Tittle -->
    <div class="heading-block white-text text-center margin-bottom-80">
      <h2>Partners</h2>
     </div>
    <!-- Testi Slider -->
    <div class="testi-slides-flex">
      <ul class="slides">
        <!-- Slide 1 -->
        <li>
        <div class="row">
          <div class="col-md-3 client-img"><img src="/images/partners/partner-1.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-2.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-3.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-4.png" alt="" ></div>

        </div>
         
        </li>
        <!-- Slide 2 -->
        <li>
        <div class="row">
          <div class="col-md-3 client-img"><img src="/images/partners/partner-5.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-6.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-7.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-8.png" alt="" ></div>

        </div>
         
        </li>
         <li>
        <div class="row">
          <div class="col-md-3 client-img"><img src="/images/partners/partner-9.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-10.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-11.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-12.png" alt="" ></div>

        </div>
         
        </li>
         <li>
        <div class="row">
          <div class="col-md-3 client-img"><img src="/images/partners/partner-13.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-14.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-15.jpg" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/partners/partner-16.jpg" alt="" ></div>

        </div>
         
        </li>
         <li>
        <div class="row">
          <div class="col-md-3 client-img"><img src="/images/clients/logo17.png" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo18.jpg" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo19.jpg" alt="" ></div>
          <div class="col-md-3 client-img"><img src="/images/clients/logo12.png" alt="" ></div>

        </div>
         
        </li>
      </ul>
    </div>
    <ul class="flex-direction-nav" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 999; opacity: 1;">
    <li >
        <a style="color:black;" class="flex-prev" href="#">Previous</a>
    </li>
    <li>
        <a class="flex-next" href="#">Next</a>
    </li>
</ul>
  </div>
</section>
</div>

