<section class="section-padding" id="pricing">
        <div class="container">
        <div class="row">

          <div class="col-lg-6 col-lg-offset-3 col-md-12 pd-0 ">

        <div class="row">

<h2 class="pricing-for-cards">Pricing for Cards</h2>

          <div class="col-md-4 pd-0">
            <div class=" naked-card">

                <h3>10 Sec</h3>
                       <h6 class="credit1">2000 Credits</h6>
          </div>
          </div>
          <div class="col-md-4 pd-0">
            <div class=" naked-card">
                 <h3>20 Sec</h3>
                       <h6 class="credit2">5000 Credits</h6>
                     </div>
          </div>
          <div class="col-md-4 pd-0">
            <div class=" naked-card">
                           <h3>30 Sec</h3>
                           <h6 class="credit3">8000 Credits</h6>
                         </div>
          </div>
          </div>
        <div class="row">

<h2 class="pricing-for-cards">Pricing for Analytics</h2>

          <div class="col-lg-4 col-md-4 pd-0">
              <div class=" naked-card">

                      <ul class="striped">
                          <li>
                              <p class="price-title"><strong>Basic</strong></p>
                          </li>
                          <li>
                              <p class="price11">Only Count</p>
                          </li>
                          <li>
                              <p >CTA Comparison</p>
                          </li>
                          <li>
                              <p class="price11 pricenone">-</p>
                          </li>
                          <li>
                          <p class="pricenone">-</p>
                          </li>
                          <li>
                              <p class="price11 pricenone">-</p>
                          </li>
                          <li>
                              <p>-</p>
                          </li>
                          <li>
                              <p class="price11">-</p>
                          </li>
                          <li>
                              <p>-</p>
                          </li>
                          <li>
                              <p class="price11 pricenone">-</p>
                          </li>
                          <li>
                              <p>-</p>
                          </li>
                          <li>
                              <p class="price11">-</p>
                          </li>
                          <li>
                              <p>-</p>
                          </li>

                      </ul>
    <h2 class="credit1">500 Credits</h2>
                  </div>
              </div>

          <div class="col-lg-4 col-md-4 pd-0">
              <div class=" naked-card">

                      <ul class="striped">
                          <li>
                              <p class="price-title"><strong>Pro</strong></p>
                          </li>
                          <li>
                              <p class="price21">Google Analytics</p>
                          </li>
                          <li>
                              <p class="price22">Detailed Analytics</p>
                          </li>
                          <li>
                              <p class="price21">Compare Campaign Analytics</p>
                          </li>

                          <li>
                          <p class="price22 pricenone">-</p>
                          </li>
                          <li>
                              <p class="price21 pricenone">-</p>
                          </li>
                          <li>
                              <p class="price22">-</p>
                          </li>
                          <li>
                              <p class="price21">-</p>
                          </li>
                          <li>
                              <p class="price22 pricenone">-</p>
                          </li>
                          <li>
                              <p class="price21">-</p>
                          </li>
                          <li>
                              <p class="price22">-</p>
                          </li>
                          <li>
                              <p class="price21">-</p>
                          </li>
                          <li>
                              <p class="price22">-</p>
                          </li>

                      </ul>
    <h2 class="credit2">800 Credits</h2>
                  </div>
                  </div>


          <div class="col-lg-4 col-md-4 pd-0">
              <div class=" naked-card">

                      <ul class="striped">
                          <li>
                              <p class="price-title"><strong>Premium</strong></p>
                          </li>
                          <li>
                              <p class="price31">Google Analytics</p>
                          </li>
                          <li>
                              <p class="price32">Detailed Analytics</p>
                          </li>
                          <li>
                              <p class="price31">Compare Campaign Analytics</p>
                          </li>
                          <li>
                              <p class="price32">Schedule analytics 3 per campaign</p>
                          </li>
                          <li>
                              <p class="price31">Geolocation based analytics</p>
                          </li>
                          <li>
                              <p class="price32">View Duration</p>
                          </li>
                          <li>
                              <p class="price31"><strong>Branding</strong></p>
                          </li>
                          <li>
                              <p class="price32">Personalization</p>
                          </li>
                          <li>
                              <p class="price31">OTE (Only for Survey Cards)</p>
                          </li>
                          <li><p class="price32">Sub Domain</p></li>
                          <li><p class="price31">URL Format</p></li>
                          <li><p class="price32">Loading Gif</p></li>
                      </ul>
    <h2 class="credit3">1800 Credits</h2>
                  </div>
              </div>

        </div>
        <div class="row">
          <div class="col-md-12 pd-0">
            <p class="price-content">* Campaign cost would be addition of card cost and analytics i.e., you can buy a 10sec card with premium analytics.</p>

        </div>

        </div>
        </div>
        </div>
        </div>


    </section>