 <section class="screenshot-area section-padding" id="screenshot">
       <div class="container">
           <div class="row">
               <div class="col-sm-12 text-center">
                   <div class="section-title">
                       <h3>screenshot</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, ex vel volutpat euismod, ante urna volutpat magna, eget elementum nibh nunc at massa. Phasellus tempor dui sit amet tincidunt scelerisque.</p>
                   </div>
               </div>
           </div>
        </div>
    
        <div class="screenshot-wrap">
            <!--    [Start Single Screenshot] -->
            <div class="single-screenshot">
                <img src="/images/screenshot-1.jpg" alt="">
            </div>
            <!--    [  End Single Screenshot] -->
            <!--    [Start Single Screenshot] -->
            <div class="single-screenshot">
                <img src="/images/screenshot-2.jpg" alt="">
            </div>
            <!--    [  End Single Screenshot] -->
            <!--    [Start Single Screenshot] -->
            <div class="single-screenshot">
                <img src="/images/screenshot-3.jpg" alt="">
            </div>
            <!--    [  End Single Screenshot] -->
            <!--    [Start Single Screenshot] -->
            <div class="single-screenshot">
                <img src="/images/screenshot-4.jpg" alt="">
            </div>
            <!--    [  End Single Screenshot] -->
            <!--    [Start Single Screenshot] -->
            <div class="single-screenshot">
                <img src="/images/screenshot-5.jpg" alt="">
            </div>
            <!--    [  End Single Screenshot] -->
            <!--    [Start Single Screenshot] -->
            <div class="single-screenshot">
                <img src="/images/screenshot-6.jpg" alt="">
            </div>
            <!--    [  End Single Screenshot] -->
        </div>
    </section>