<section class="feature-area solutions-area section-padding bg-white" id="feature">
        
            <div class="row">
                <div class="solutions col-md-8">
                    <div class="section-title">
                        <h3>Solutions</h3>
                        <p>Hola Enterprise is a micro-ad platform for lead generation, through light interactive animations.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 padding feature-wrap wow fadeInUp" data-wow-delay=".1s">
                    <!--    [Start Sing4 col-md-offset-1e Feature]-->
                    <div class="col-md-5 col-md-offset-1 padding">
                        <div class="health single-feature">
                            <img src="/images/medical.svg" alt="Hola enterprise used for digital marketing of pharma and healthcare
" />
                            <h4>Healthcare and Pharma</h4>
                            <ul><li>Patient Education</li>
                               <li>Drug Usage</li>
                               <li>Product launch</li>
                               <li>Survey</li>
                               </ul>
                        </div>
                    </div>
                    <!--    [  End Single Feature]-->
                    <!--    [Start Single Feature]-->
                    <div class="col-md-6 padding">
                        <div class="health single-feature">
                            <img src="/images/rocket.svg" alt="create product explainer video and survey card
" />
                            <h4>Corporate: Telecom & BFSI</h4>
                            <ul>
                            <li>Product Explainer</li>
                               <li>Marketing & Lead generation</li>
                               <li>Brand Awareness</li>
                               <li>Customer Feedback & Surveys</li>
                               <li>Education/skill development of Employees and Partners </li></ul>
                        </div>
                    </div>
                    <!--    [  End Single Feature]-->
                    <!--    [Start Single Feature]-->
                    <div class="col-md-5 col-md-offset-1 padding">
                        <div class="health single-feature">
                            <img src="/images/computer.svg" alt="event promotion and marketing
" />
                            <h4>Digital Agencies</h4>
                            <ul><li>Send Event Invitations</li>
                               <li>Send Special Promotions</li>
                               <li>Marketing and branding</li>
                               <li>Multi channel advertising</li>
                               <li>Auto generate scheduled reports</li></ul>
                        </div>
                    </div>
                    <!--    [  End Single Feature]-->
                    <!--    [Start Single Feature]-->
                    <div class="col-md-6 padding">
                        <div class="health single-feature">
                           <img src="/images/city.svg" alt="property showcase videos and lead generation using hola card
  " />
                            <h4>Bulk SMS Providers</h4>
                            <ul><li>Get more out of your SMS offering</li>
                               <li>Use a short url to communicate more</li>
                               <li>Get Analytics out of your campaigns</li>
                               <li>Segment user base and smart re-targeting</li></ul>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-6 solutions-img">
                <div class="">
                        <img src="/images/three.png" alt="multi channel marketing platform
">
                    </div>
                </div>
            </div>
        
    </section>