<div id="TEST021">
  <section class="testimonial red-bg padding-top-100 padding-bottom-100">
  <div class="container">
    <!-- Tittle -->
    <div class="heading-block white-text text-center margin-bottom-80">
      <h2>What our clients say about us </h2>
     </div>
    <!-- Testi Slider -->
    <div class="testi-slides-flex">
      <ul class="slides">
        <!-- Slide 1 -->
        <li>
          <div class="avatar"> <img src="/images/sky-blue.png" alt="Testimonial by sky blue aero" >
            <h6>Abid Hussain / <span>Founder - Skyblue Aero </span></h6>
            <p>“ Reliable campaign management and powerful lead generation features have consistently exceeded our expectations. Hola Enterprise has proven to be a great marketing partner in showcasing our services.”</p>
          </div>
        </li>
        <!-- Slide 2 -->
        <li>
          <div class="avatar"> <img src="/images/sms-country.png" alt="Customer testimonial by SMS Country" >
            <h6>Vasudev Jagarlamudi  / <span>Product Manager - Sms Country</span></h6>
            <p>"Hola Enterprise has provided us with a highly targeted and result oriented campaign platform, which has greatly enhanced our marketing approach. Their ability to deliver interactive cards within very short timelines has enabled us to maximize our coverage.Their Call-to-action feature resulted in we receiving 150 phone calls in a span of 2 hours.  Awesome ROI !"</p>
          </div>
        </li>
        <!-- Slide 3 -->
        <li>
          <div class="avatar"> <img src="/images/leverage.png" alt="customer testimonials for hola enterprise" >
            <h6>Pavan Kumar / <span>CEO - Digital Leverage</span></h6>
            <p>Hola Advertisements are most innovative mobile marketing solutions I have ever seen. Built specifically and beautifully for the mobile world. Their interactive advertisements enabled me to divert my particular audience to specific site page.

”</p>
          </div>
        </li>

         <li>
          <div class="avatar"> <img src="/images/link_holidays.png" alt="Review about hola card" >
            <h6>Mohammed Obaid / <span>CEO - Link Tours</span></h6>
            <p> Hola Card showcased our service and also gave great analytics from our campaigns. I would absolutely recommend Hola Enterprise for your marketing campaigns. The level of customer service, the constant interaction and the quick turnaround are outstanding.

”</p>
          </div>
        </li>
      </ul>
    </div>
    <ul class="flex-direction-nav" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 999; opacity: 1;">
    <li >
        <a style="color:black;" class="flex-prev" href="#">Previous</a>
    </li>
    <li>
        <a class="flex-next" href="#">Next</a>
    </li>
</ul>
  </div>
</section>
</div>

