<section class="app-info-area section-padding" id="app">

      <div class="row">
      <div class="what-we-do col-md-6 col-md-offset-5">
       <h3>What we do</h3>
                        <p>Hola Enterprise is a micro-ad platform for marketing and lead generation, through light weight & interactive animations</p>
      </div>
      </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="app-img">
                        <img src="/images/whatwedo.png" alt="hola card for sms facebook and email marketing
">
                    </div>
                </div>
                <div class="col-md-5  col-sm-12">
                    <div class="app-desc">
                       
                        <div class="app-list">
                        <img src="/images/magician.svg"/ alt="create animated video in minutes
">
                            <a href="/abouthola#Create"><h6 class="create" > Create</h6></a>
                            <p class="creat-desc">Create your animated communication  in minutes, using our pre-configured templates. Hola cards can play on any smart device.</p>
                        </div>
                        <div class="app-list">
                        <img src="/images/collaboration.svg"/ alt="online video creation portal
">
                            <a href="/abouthola#Reach"><h6 class="create"> Reach</h6></a>
                            <p class="creat-desc">Reach your audience over various channels like email, SMS, whatsapp and other social media platforms. No software installation needed to play the animations</p>
                        </div>
                        <div class="app-list">
                        <img src="/images/handshake.svg"/ alt="interact with hola card using call to action buttons
">
                            <a href="/abouthola#Engage"><h6 class="create"> Engage</h6></a>
                            <p class="creat-desc">Call To Actions allow your receivers  to click and interact with the Hola Cards. Make their experience lively and engaging.</p>
                        </div>
                        <div class="app-list">
                        <img src="/images/analytics.svg"/ alt=" nalytics that help you track and understand user behavior
">
                            <a href="/abouthola#Analyse"><h6 class="create"> Analyse</h6></a>
                            <p class="creat-desc">Benefit from powerful reporting & analytics that help you track and understand user engagement. Get better ROI on marketing spends.</p>
                        </div>
                    </div>
                </div>
            </div>
        
    </section>