/*.what-we-do {
	height: 50px;
	width: 742px;
	color: #323D5D;
	font-family: "Neue Haas Grotesk Text Pro";
	font-size: 32px;
	line-height: 50px;
}
.hola-enterprise-is-a {
	height: 60px;
	width: 742px;
	color: #8998AA;
	font-family: "Camphor Pro";
	font-size: 18px;
	line-height: 30px;
}
.create-your-animated {
	height: 50px;
	width: 547px;
	color: #425070;
	font-family: "Camphor Pro";
	font-size: 16px;
	line-height: 25px;
}
.create {
	height: 40px;
	width: 54px;
	color: #323D5D;
	font-family: "Camphor Pro";
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
}*/

a{
	color:#5589FF;
}
.p-t-10{
	padding-top: 10px;
}
.p-t-30{
	padding-top: 30px;
}
.p-t-50{
	padding-top: 50px;
}
.app-info-area{
	overflow-x: hidden !important;
	background-color: #ffffff !important;
	

}
#app{
	
}
.what-we-do h3{
		height: 50px;
	width: 742px;
	color: #323D5D;
		font-size: 32px;
	line-height: 50px;

}
.create{
	color: #425070;
	font-size: 18px;
	
	font-weight: 600;
}
.create-desc{
	font-size: 16px;
	color: #425070;
	font-family: 'Hind', sans-serif !important;
}
.solutions h3{
color: #323D5D;
font-size: 32px !important;
padding: 0 88px;
}
.solutions p{
	font-size: 18px;
	color: #8998AA;
}
.health h4{
	font-size: 18px;
	color: #323D5D;
	font-weight: bold;
}
.health ul > li{
	color: #425070;
	font-size: 16px;
}
.solutions-area:before{
	background-color: #F1F5F9 !important;
	height:950px;
	width:100%;
	
}

.solutions-img{
	padding-right: 15px;
}
.solution-padding{
	padding-top:3%;
	padding-bottom:3%;
}
.padding{
padding-right: 0px;

}
.filler:before{
	background-color: #5589FF !important;
	height: 410px;
}
.started{
	color: #323D5D !important;
	font-size: 32px;
}
.account{
font-size: 32px;
color: #FFFFFF;
}

.fill-desc a, .fill-desc a:hover{
font-weight: lighter;
font-size: 14px;
    font-family: 'Hind', sans-serif;
    color:#8998AA;
    background: #ffffff;
    padding: 0px 65px !important;
}
#footer ul > li a{
  color:#8998AA;
}
.filter-portfolio ul > li a{
 color: #babec3;
font-size: 18px;
}
.filter-portfolio ul > li a:hover{
 color:#5589FF;
}
.footer-area{
		background-color: #FFFFFF;
}
.footer-area h6{
		font-size: 18px;
		line-height: 40px;
		font-weight: bold;
}
.footer-area ul > li{
color: #8998AA;
font-size: 14px;
line-height: 30px;
}
.btn-signup{
	font-weight: bold;
font-size: 14px;
    font-family: 'Hind', sans-serif;
    color:#fff !important;
    background: #ec644b!important;
    padding: 0px 25px !important;
}
.form-email{
	height: 38px;
    padding: 14px 64px 12px 12px;
}
.social-icons ul > li{
	display: inline-block;
	padding:0px 10px;

}
.privacy{
	margin-top: 15%;
}
.privacy p, .privacy p a{
color: #8998AA;
font-size: 14px;
line-height: 30px;
}
.blog-li-title{
	padding-top: 5px;
	color:#323D5D !important;
	text-align: center;
	font-weight: 400;
	font-size: 26px;
	
}
.blog-li-desc{
	color: #425070;
	padding-top: 15px;
	font-size: 15px;
}
.posted-by{
	color: #AAB7C4;
	font-weight: 100;
	font-size:14px;
	margin-bottom: 0px;
}

.blog-li-img{
	border-radius: 6px;
}
.blog-content p{
margin-bottom: 25px;
}
.blog-post-title{
	margin-top: 15%;
}
.about-isotope{
	background-color:#fff;
	border-top:1px solid rgba(137, 152, 170, 0.16);
	border-bottom:1px solid rgba(137, 152, 170, 0.16);
}
.about-isotope ul > li{
	display: inline-block !important;
	padding: 3% 8.2%;
	
}
.about-isotope ul > li a{
	color:#323D5D;
	font-weight:600;
}
.about-isotope ul > li a:hover{
	color:rgb(85, 137, 255);
	font-weight:600;
}
@media only screen and (max-width: 767px) {
.about-isotope ul > li{
	display: inline-block !important;
	padding: 3% 5.2%;
}
	}
.about-page h1{
color:#323D5D;
font-size: 32px;
font-weight: bold
}
.about-page p{
	color: #8998AA;
	font-size: 18px;
	
}
.about-page ul > li{
margin-left: 8%;
	color: #8998AA !important;
	font-size: 18px;
	list-style-type: disc;
	line-height: 30px;
	margin-bottom: 5%;
}
#analyse ul >li {
	margin-bottom: 2%;
}
#analyse ul{
	margin-bottom: 10%;
}
.reach-about p{
	margin-bottom: 10%;
}
.create-icon{
	margin-top:5%;
}

#single-create{
	background-color: #FAFCFD;
	height: 755px;

}
.half-header{
	 background-color: #fafcfd;
	  height:280px;
}
.half-header h1{
	color: #323D5D;
	font-size: 32px;
	font-weight:800;
}
.cs-header{
   background-color: #ffffff!important;
   padding-bottom: 50px;
}

.port{
   background-color: #323D5D;
    height:300px;
}
.port h1{
  color: #fff;
  font-size: 32px;
  font-weight:800;
}
#our-latest-work{
  padding-top: 5%;
}
.about-isotope{
	height:60px;
}
.engage-about{
	padding-right: 11%;
	margin-top:10%;
}
@media only screen and (max-width: 767px) {
.engage-about{
	padding-right: 11%;
	margin-top:0%;
}
}
.policy {
	margin-top: 4%;
}
.policy h4{
	color:#323D5D !important;

}
.m-b-30{
  margin-bottom:30px;
}
.m-t-30{
  margin-top:30px;
}

.p-b-30{
  padding-bottom:30px;
}








/*---------------------------------------------------------------------*/
/*  10. PORTFOLIO
/*---------------------------------------------------------------------*/
.p-text{
  background-color: #FAFCFD;
  padding:5px;
}
.p-text h4{
  color:#323D5D;
  font-size:18px;
}
.p-text p{
  color:#8998AA;
}
.filter-portfolio ul {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}
.filter-portfolio ul > li {
  display: inline-block;
  margin: 0px 3px 10px 3px;
}
.filter-portfolio ul > li.active > a {
  font-weight: 700;
}
.popup-portfolio {
  margin: 0 auto;
}
.popup-portfolio .portfolio-item {
  width: 270px;
}
@media (min-width: 600px) {
  .popup-portfolio .portfolio-item {
    width: 320px;
  }
}
@media (min-width: 992px) {
  .popup-portfolio .portfolio-item {
    width: 273px;
  }
}
@media (min-width: 1024px) {
  .popup-portfolio .portfolio-item {
    width: 260px;
  }
}
.portfolio-item {
  margin-bottom: 15px;
}
.portfolio-item > .inner-content {
  position: relative;
  display: block;
  overflow: hidden;
}
.portfolio-item > .inner-content:hover {
  cursor: pointer;
}
.portfolio-item > .inner-content:hover > .portfolio-content {
  display: block;
}
.portfolio-item > .inner-content > .portfolio-content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail {
  width: 100%;
  height: 100%;
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail a {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail a > .portfolio-text {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  color: #fff;
  letter-spacing: 0.2em;
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail a > .portfolio-text h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail a > .portfolio-text p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}
.portfolio-item > .inner-content > img {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}


/*---------------------------------------------------------------------*/
/*  10.1. PORTFOLIO HOVER EFFECT 1 - GROW 
/*---------------------------------------------------------------------*/
.portfolio-item.grow > .inner-content:hover > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}



/*---------------------------------------------------------------------*/
/*  10.5. PORTFOLIO HOVER EFFECT 5 - SLIDE IN LEFT
/*---------------------------------------------------------------------*/
.portfolio-item.slide-in-left > .inner-content:hover > .portfolio-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.portfolio-item.slide-in-left > .inner-content > .portfolio-content {
  display: block;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}


/*---------------------------------------------------------------------*/
/*  10.6. PORTFOLIO HOVER EFFECT 6 - POP
/*---------------------------------------------------------------------*/
.portfolio-item.pop > .inner-content:hover > img {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.portfolio-item.pop > .inner-content > img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/*---------------------------------------------------------------------*/
/*  10.7. PORTFOLIO HOVER EFFECT 7 - POP ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.pop-rotate > .inner-content:hover > img {
  -webkit-animation-name: pop-rotate;
  animation-name: pop-rotate;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.portfolio-item.pop-rotate > .inner-content > img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes pop-rotate {
  50% {
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop-rotate {
  50% {
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/*---------------------------------------------------------------------*/
/*  10.8. PORTFOLIO HOVER EFFECT 8 - PUSH
/*---------------------------------------------------------------------*/
.portfolio-item.push > .inner-content:hover > img {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.portfolio-item.push > .inner-content > img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes push {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}


/*---------------------------------------------------------------------*/
/*  10.9. PORTFOLIO HOVER EFFECT 9 - PUSH ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.push-rotate > .inner-content:hover > img {
  -webkit-animation-name: push-rotate;
  animation-name: push-rotate;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.portfolio-item.push-rotate > .inner-content > img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@-webkit-keyframes push-rotate {
  50% {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes push-rotate {
  50% {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}


/* testimonial */
.testimonial{
  background:#f9f9f9;
}
.testimonial .heading-block i{
  color:#ff6c3a;
  font-size:30px;
}
.testimonial h6{
  font-size:15px;
  color:#232c3b;
  margin-bottom:30px;
  text-transform:uppercase;
  font-weight:normal;
  margin-top:80px;
}
.testimonial h6 span{
  color:#ff6c3a;
  font-size:12px;
  text-transform:none;
}
.testimonial .slides p{
  font-size:18px;
  font-style:italic;
  line-height:33px;
}
.testimonial img{
  width:auto !important;
}
.testimonial #carousel li{
  position:relative;
  margin-right:70px;
  cursor:pointer;
}
.testimonial #carousel span{
  position:absolute;
  font-size:10px;
  width:100%;
  display:inline-block;
  background:#232c3b;
  left:0px;
  bottom:0px;
  padding:10px 0;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.testimonial #carousel{
  margin-top:-122px;
  position:relative;
  z-index:999;
}
.testimonial #carousel li:hover span{
  background:#ff6c3a;
}
.testimonial #carousel .flex-active-slide span{
  background:#ff6c3a;
}
.testimonial .flex-direction-nav{
  display:none;
}

.testi-slides-flex{
  width:75%;
  margin:0 auto;
  text-align:center;
}
.testi-slides-flex h6{
  margin:20px 0px;
  color:#323D5D;
  font-weight: bold
}
.testi-slides-flex h6 span{
  color:#323D5D;
}
.testi-slides-flex p{
  color:#8998AA;
  font-size:16px;
  font-style:normal !important;
}
.testi-slides-flex .flex-control-nav{
  position:absolute;
  
  text-align:center;
  left:0px;
}
.testi-slides-flex .flex-control-nav li a{
  height:7px;
  width:7px;
  background:rgba(255,255,255,1);
}
.testi-slides-flex .flex-control-nav li{
  margin:0 2px;
}
.testi-slides-flex .flex-control-nav li a.flex-active{
  background:#232a36;
}
.red-bg {
  background: #ffffff !important;
}
.heading-block {
  margin-bottom: 50px;
  display: inline-block;
  width: 100%;
}

.heading-block span{
  color:#6a7483;
  font-size:15px;
  letter-spacing:1px;
}
.heading-block.white-text h2{
  color:#323D5D;
  font-size: 32px;
}
.heading-block.white-text span{
  color:#323D5D;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav{
   color:white;
  margin:0;padding:0;list-style:none;
}
.flex-control-nav{
  width:100%;position:absolute;text-align:center;
}
.flex-control-nav li{
  color:white;
  margin:0 6px;display:inline-block;zoom:1;*display:inline;
}
.flex-control-paging li a{
   color:white;
  width:11px;height:11px;display:block;background:#666;background:rgba(0, 0, 0, 0.5);cursor:pointer;text-indent:-9999px;-webkit-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);-o-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;
}
.flex-control-paging li a:hover{
   color:white;
  background:#333;background:rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active{
   color:white;
  background:#000;background:rgba(0, 0, 0, 0.9);cursor:default;
}
.padding-top-100{padding-top:100px !important;
}
.padding-bottom-100{
  padding-bottom:100px !important;
}
.margin-bottom-80{
  margin-bottom:80px !important;
}
@media(max-width:767px) {
.testi-slides-flex {
  width: 100%;
}
.intro-style {
  width: 100%;
}
}

body{
  overflow-x: hidden !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
     color: #425070!important;
    background-color: #f5f5f5!important;
}
.dropdown-menu>li>a {
     color: #425070!important;
}
.popup-input {
    height: 38px;
    padding: 10px !important;
    margin-top: 10px!important;
}
.popup-image{
  margin-top: 20px;
}

.popup-button{
  margin-top: 10px;
  background-color: rgba(255,95,85,1);
  color: #ffffff !important;
  padding: 10px 90px;
  font-size: 16px;
  font-weight: 600;
  border:none;
  width:100%;
}
