
                    <ul>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="btn-floating btn-small btn-fb"><img src="/images/blog-facebook.svg" alt="connect on facebook
" /></a></li>
      <li><a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank" class="btn-floating btn-small btn-tw"><img src="/images/blog-twitter.svg" alt="connect on twitter
" /></a></li>
      <li><a href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}" target="_blank"  class="btn-floating btn-small btn-tw"><img src="/images/linkedin.svg" alt="connect on linked in" /></a></li>
     </ul>

                   
           